.ui.projectselection-value {
  width: 500px;
}

.ui.projectselection-value input,
.ui.projectselection-value input:focus {
  border-color: transparent;
  border-radius: 0;
}

.ui.projectionselection-button {
  border-radius: 0;
  margin: 0;
}